

.Gift-container {
 margin: 1rem 0 0 0 ;
  border-radius: 1.5rem;
  background: linear-gradient(to right, #fbc1b6, #b993b9);
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10rem;
  color: white;
  overflow: hidden;
  width: 17rem;
  height: 18rem;
}

.GiftTitle {
    height:2rem; ;
  font-size: 3rem;
  font-weight: 900;
  text-align: left;
  line-height: 1;
  padding: 4rem 0 0 0;
}

.codeBar input {
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  color: #444;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.openButton {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.openButton:hover {
  transform: scale(1.1);
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  padding: 0.8rem 1rem;
  width: 90%;
  max-width: 400px;
  margin: 1rem auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
    width: 80%;

  font-size: 1rem;
  font-weight: 600;
  color: #b8abbf;
  background: transparent;
}

.search-input::placeholder {
  color: #b8abbf;
  font-weight: 700;
  font-family: "Segoe UI", sans-serif;
}

.search-icon {
  font-size: 1.2rem;
  color: #f59a8b;
  margin-left: 0.5rem;
}
