.card-container {
  width: 10rem;
  height: 16rem;
  border-radius: 1rem;
  border:1.5px solid #cc8bb1;
  background-color: transparent;
  overflow: hidden;      
  position: relative;   
  z-index: 1;
}


.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

.img-container {
display: flex;
justify-content: flex-end;
background: linear-gradient(to right, #fbc1b6, #cc8bb1);

}

.img-product {
width: 100%;
height: 100%;
object-fit: cover;
overflow: hidden;
}

.description-container {
  background-color: #EFE9EA;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  height: 6rem;
  padding: 0.5rem;
justify-content:flex-start ;

}

.description-children {
  margin: 0;
  font-family: 'Jomhuria', serif;
  font-size: 30px;
  font-weight: 200;
  padding: 0;
  line-height: 1rem;
  color: #e5989b;
}


.SpaceBAR {
  width: 70%; 
  height: 0.4rem;
  margin: 0.5rem auto 0.3rem auto;
  border-radius: 1rem;
  background: linear-gradient(to right, #f6b8b8, #cc8bb1);
}
