.Carrousel-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


.product-card {
display: flex;
flex-direction: row;
gap: 1rem;
}

.Title-Container {
text-align: center;
color:  #e5989b;
}

.Title-Carrousel {
text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color:  #e5989b;
   font-family: 'Jomhuria', serif;
  font-weight: 100;
  margin: 0 0 0 ;
}

@media (min-width: 1024px) {


.Title-Carrousel {
  font-size: 5rem;
  height: 6.1rem;
  margin: -0.7rem 

}


.product-card {

gap: 2rem;
}


}