

.Gift-container {
 margin: 2rem 0 0 0 ;
  border-radius: 1.5rem;
  background: linear-gradient(to right, #fbc1b6, #b993b9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  overflow: hidden;
  width: 21rem;
  height: 16rem;
}




.GiftTitle-container{
  font-size: 3rem;
  font-weight: 900;
  text-align: left;
  line-height: 1;
  padding: 1rem 0 0 1rem;

}

.GiftTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0,4rem; 
}
.spanTitle {
  font-family: 'Jomhuria', serif;
  font-weight: 200;
  font-size: 90px;
  line-height:  55px;
  letter-spacing: 0.02em;

}

.Upper-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.Lower-bar {
  display: flex;
flex-direction: row;
gap: 1rem;
}




.buttonContainer {
   background: linear-gradient(to right, #f6b8b8, #cc8bb1);
  font-weight: 700;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin : 0 1rem 3rem 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
}


.openButton {

  width: 5rem;
  height: 5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.openButton:hover {
  transform: scale(1.1);
}


.Gift-button {
 background-color: transparent;
  border: 0;
  color:  #ffffff;
  font-size: large;
  font-weight: 1000;
}

.codeBar {
  width: 14rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  color: #444;
  background: transparent;
  padding: 1rem 0 0 0.5rem;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  width: 80%;
  justify-items:flex-start ;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
    width: 80%;
  font-size: 1rem;
  font-weight: 600;
  background: transparent;

}

.search-input::placeholder {
  color: #b8abbf;
  font-weight: 700;
  font-family: "Segoe UI", sans-serif;
}

.search-icon {
  font-size: 1.2rem;
  color: #f59a8b;
  margin-left: 0.5rem;
}

.giftIcon-Cointainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap:0.5rem;
  padding: 0 2rem 0 0;
}

.box-icon-1 {
transform: rotate(16deg);
width: 33%;
}
.box-icon-2 {
transform: rotate(-16deg);
width: 44%;
}

.promo-result {
  color: rgb(41, 38, 38);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 16rem;
  min-height: 10rem;
  font-family: Courier, monospace;
  border-radius: 1rem;
  background: transparent;
  transition: transform 0.12s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
  isolation: isolate;
  animation: fadeInZoom 0.4s ease-out;
}

.promo-result::before {
  content: "";
  position: absolute;
  inset: -1em;
  background: radial-gradient(
      circle at top center,
      rgba(255, 200, 135, 0.6) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at top left,
      rgba(102, 190, 240, 0.6) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at top right,
      rgba(255, 100, 100, 0.6) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at bottom center,
      rgba(147, 112, 190, 0.6) 0%,
      transparent 80%
    );
  border-radius: inherit;
  filter: blur(0.2em);
  opacity: 0.9;
  z-index: -2;
}

.promo-result::after {

  content: "";
  position: absolute;
  inset: 0;
  background: rgb(240, 238, 238);
  border-radius: inherit;
  z-index: -1;
}

.glass-effect {
  position: absolute;
  inset: -0.45em;
  border-radius: 1rem;
  background: linear-gradient(
    165deg,
    rgba(0, 0, 0, 0.05),
    rgba(255, 255, 255, 0.2) 30%,
    rgba(255, 255, 255, 0.05) 80%,
    rgba(0, 0, 0, 0.02)
  );
  z-index: -3;

}

.button-text {
  position: relative;
  border: none;
  display: block;
  user-select: none;
  z-index: 2;
  text-align: center;
}

.cart-button {
  position: relative;
  padding: 0.8em 0.7em;
  font-family: Courier, monospace;
  cursor: pointer;
  line-height: 1;
  background: transparent;
  border-radius: em;
  border: none;
  transform-style: preserve-3d;
  isolation: isolate;
  transition: transform 0.12s cubic-bezier(0.4, 0, 0.2, 1);
    color: #f59a8b;

}


.promo-text{
  font-family: 'Jomhuria', serif;
  cursor: pointer;
  line-height: 0.8;
  color: #f59a8b;
}

.promo-benefit {
  font-size: 4rem;
  margin: 0.8rem 0;
}

.quitPromoButtonContainer {
  display: flex;
  justify-content: center;
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}



@media (min-width: 1024px) {

  
.Lower-bar {
  display: flex;
flex-direction: row;
gap: 1rem;
justify-content: space-between;
}


    .Gift-container {
    width: 36rem;
    height: 25.5rem;
    border-radius: 2rem; 
}

    .GiftTitle-container{

  text-align: left;
  line-height: 1;
  padding: 3rem 0 0 3rem;


}

.GiftTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem; 
  
}
.spanTitle {
  font-family: 'Jomhuria', serif;
  font-weight: 200;
  font-size: 10rem;
  line-height:  5rem;
  letter-spacing: 0.02em;

}

.codeBar {
  width: 22rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  color: #444;
  background: transparent;
    padding: 0rem 0 0 0.5rem;
  margin: 0.5rem 0 0 0;
}



.buttonContainer {
  margin: -0.8rem  0 0 -3rem;
  width: 5rem;
  height: 5rem;


 }

    
.Gift-button {

  font-size: x-large;
}

.openButton:hover {
  transform: scale(1.1);
}


.box-icon-1 {
transform: rotate(16deg);
width: 44%;
}
.box-icon-2 {
transform: rotate(-16deg);
width: 66%;
}





   }

