
.GiftAndCarrouselContainer{
  display: flex;
  flex-direction: column-reverse;
  align-items: center; 
  justify-content: space-between; 
  padding: 0.5rem 1rem;
  background-color: #f8f9fa;
}


@media (min-width: 1024px) {
  .GiftAndCarrouselContainer {
    flex-direction: row;
  }
}
