@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Oswald:wght@200..700&display=swap");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Toastify__toast.custom-toast {
  display: flex;
  justify-content: center;
  border-radius: 120px;
  background-color: #ffffff;
  color: #e5989b;
  font-family: "Jomhuria", serif;
  font-size: 2rem;
  width: 21rem;
  height: 0.4rem;
  padding: 0.6rem 0 0 1rem;
  margin: 2rem 2rem 0 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;

  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #bbbbbb;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(143, 143, 143, 0.2);
  font-size: 1.3rem;
  color: #e5989b;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  opacity: 90%;
}



.nav-button.left {
  left: 0.5rem;
}

.nav-button.right {
  right: 0.5rem;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}




@media (min-width: 1200px) {
  .Toastify__toast.custom-toast {
    border-top-left-radius: 120px;
    border-bottom-left-radius: 122px;
    background-color: #ffffff;
    color: #e5989b;
    font-family: "Jomhuria", serif;
    font-size: 1.9rem;
    height: 0.6rem;
    padding: 0.6rem 0 0 1rem;
  }

  .custom-toast-body {
    font-size: 1rem;
    letter-spacing: 0.5px;
  }

  .nav-button {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;

}}

